[plain] view plaincopy
#File
.DS_Store 
Icon

#Directory
  

.DS_Store

.DS_Store

.DS_Store

SourceCode/.DS_Store

*.user

source_code/HiveFrame2.pro.user

source_code/HiveFrame2.pro.user

other_files/UIWidgets/HiveDialog/HiveDialog.pro.user.d518d3b

*.user
